* {
  all: unset;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-family: "Material Design Icons", "Iosevka Nerd Font Mono", Inter, Roboto, sans-serif; }

.launcherIcon {
  background: #191919;
  font-family: symbolsnerdfontmono;
  border-radius: 12px;
  margin: 6px 4px;
  padding: 6px;
  min-height: 1.5rem;
  transition: all 0.2s cubic-bezier(0.3, 0, 1, 1); }
  .launcherIcon:hover {
    background: #262626; }

.systemUsage {
  color: #dfdddd;
  background: #191919;
  font-family: symbolsnerdfontmono;
  border-radius: 12px;
  margin: 4px; }

.cpuButton {
  padding: 6px 2px 3px 2px;
  margin: 1px; }

.cpuProgress {
  color: #b183ba;
  padding: 4px 4px;
  margin: 0.1rem;
  font-size: 4px;
  background: #121111;
  min-height: 1.2rem;
  min-width: 1.2rem; }

.memButton {
  padding: 3px 2px 6px 2px;
  margin: 1px; }

.memProgress {
  color: #7d95ae;
  padding: 4px 4px;
  margin: 0.1rem;
  font-size: 4px;
  background: #121111;
  min-height: 1.2rem;
  min-width: 1.2rem; }

.weather {
  background: #191919;
  font-family: "Material Symbols Sharp", Roboto;
  border-radius: 12px;
  margin: 6px 4px;
  padding: 4px;
  min-height: 1.5rem;
  min-width: 1rem;
  transition: all 0.2s cubic-bezier(0.3, 0, 1, 1); }
  .weather:hover {
    background: #262626; }

.workspaces {
  background: transparent;
  padding: 14px; }
  .workspaces button {
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
    margin: 6px 3px;
    color: #dfdddd;
    background: #191919;
    margin: 5px 3px;
    min-width: 0.6rem;
    min-height: 0.6rem;
    color: transparent;
    background: #dfdddd;
    border-radius: 99px; }
    .workspaces button:hover {
      color: #b183ba; }
    .workspaces button:hover {
      background: #b183ba; }
    .workspaces button.focused {
      border-radius: 18px;
      background: #7d95ae;
      padding: 8px 0; }

.tray {
  margin: 0; }

.trayChevron {
  font-family: symbolsnerdfontmono; }

.trayIcons {
  margin: 3px 0 0; }

.trayIcon {
  margin: 0 0 3px; }

.battery {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 6px 3px;
  color: #dfdddd;
  background: #191919; }
  .battery:hover {
    color: #b183ba; }

.bluetooth {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 6px 3px;
  color: #dfdddd;
  background: #191919; }
  .bluetooth:hover {
    color: #b183ba; }

.bluetooth-paired {
  color: #dfdddd; }

.bluetooth-active {
  color: #dfdddd; }

.bluetooth-disabled {
  color: #666666;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1); }
  .bluetooth-disabled:hover {
    color: #af575b; }

.lock {
  background: #0e0d0d;
  font-size: 24px;
  border-radius: 12px;
  margin: 2px 4px;
  padding: 2px; }

.swallow {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 6px 3px;
  color: #dfdddd;
  background: #191919; }
  .swallow:hover {
    color: #b183ba; }

.audio {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 6px 3px;
  color: #dfdddd;
  background: #191919; }
  .audio:hover {
    color: #b183ba; }

.network {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 6px 3px;
  color: #dfdddd;
  background: #191919; }
  .network:hover {
    color: #b183ba; }

.clock {
  background: #191919;
  color: #dfdddd;
  font-family: robotomono;
  font-weight: 800;
  border-radius: 12px;
  margin: 6px 4px;
  padding: 6px; }

.power {
  color: #af575b;
  background: #0e0d0d;
  font-size: 24px;
  border-radius: 12px;
  margin: 6px 4px;
  padding: 6px;
  min-height: 1.5rem;
  transition: all 0.2s cubic-bezier(0.3, 0, 1, 1); }
  .power:hover {
    background: #262626;
    color: #b7686c; }

.bar {
  border-radius: calc(12px + 2px);
  color: #dfdddd;
  background: #121111;
  font-family: roboto;
  border-radius: 14px;
  padding: 2px; }

.utilsBox {
  border-radius: 12px;
  color: #dfdddd;
  background: #191919;
  font-family: symbolsnerdfontmono;
  margin: 4px;
  padding: 6px; }

.systemInfo {
  border-radius: 12px;
  color: #dfdddd;
  background: #191919;
  font-family: symbolsnerdfontmono;
  margin: 4px;
  padding: 6px; }

.launcher {
  color: #dfdddd;
  background: #121111;
  font-family: roboto;
  border-radius: 12px;
  margin: 0 0 16px;
  padding: 6px; }

.launcherApp {
  border-radius: 12px;
  margin: 3px;
  padding: 3px; }
  .launcherApp:focus {
    background: #191919; }

.launcherEntry {
  caret-color: #dfdddd;
  background: #191919;
  border-radius: 10px;
  margin: 6px;
  padding: 3px 12px; }

.launcherItemIcon {
  margin: 3px 6px; }

.launcherItemTitle {
  font-size: 16px;
  font-weight: bold; }

.launcherItemDescription {
  font-size: 12px; }

.desktopMenu {
  background: #121111;
  color: #dfdddd;
  font-family: roboto;
  border-radius: 14px;
  padding: 6px 3px; }

.desktopMenuItem {
  border-radius: 14px;
  margin: 0 3px;
  padding: 6px 12px;
  transition: all 0.2s cubic-bezier(0.3, 0, 1, 1); }
  .desktopMenuItem:hover {
    background: #262626;
    color: #ebeaea; }

.desktopMenuItemIcon {
  font-family: symbolsnerdfontmono;
  padding: 2px 8px 2px 2px; }

.separator {
  background: #0e0d0d;
  padding: 1px 3px; }

.desktopIcons {
  margin: 24px 0 0 24px; }

.desktopIcon {
  border-radius: 6px;
  padding: 6px;
  transition: all 200ms cubic-bezier(0, 0, 1, 1); }
  .desktopIcon:hover {
    background: rgba(177, 131, 186, 0.7); }

.desktopIconLabel {
  color: #0e0d0d;
  font-family: roboto; }

.brightnessPopup {
  background: #121111;
  border-radius: 12px;
  margin: 6px;
  padding: 12px;
  min-width: 200px; }

.brtPopupIcon {
  font-family: symbolsnerdfontmono;
  margin: 0 6px 0 0; }

.brtPopupBar {
  min-width: 200px; }
  .brtPopupBar scale {
    min-height: 12px; }
  .brtPopupBar trough {
    background: rgba(25, 25, 25, 0.5);
    border-radius: 24px;
    min-height: 12px; }
  .brtPopupBar highlight {
    background: #dfdddd;
    border-radius: 24px;
    min-width: 12px; }

.volumePopup {
  background: #121111;
  border-radius: 12px;
  margin: 6px;
  padding: 12px;
  min-width: 200px; }

.volPopupIcon {
  font-family: symbolsnerdfontmono;
  margin: 0 6px 0 0; }

.volPopupBar {
  min-width: 200px; }
  .volPopupBar scale {
    min-height: 12px; }
  .volPopupBar trough {
    background: rgba(25, 25, 25, 0.5);
    border-radius: 24px;
    min-height: 12px; }
  .volPopupBar highlight {
    background: #dfdddd;
    border-radius: 24px;
    min-width: 12px; }

.controls {
  color: #b7b7b7;
  background: #191919;
  border-radius: 24px;
  margin: 12px 6px; }

.controlsPrev {
  font-family: symbolsnerdfontmono;
  font-size: 0.75rem;
  padding: 0 12px; }
  .controlsPrev:hover {
    background: #595959;
    border-radius: 24px; }

.controlsPlayPause {
  font-family: symbolsnerdfontmono;
  font-size: 0.75rem;
  padding: 0 12px; }
  .controlsPlayPause:hover {
    background: #595959;
    border-radius: 24px; }

.controlsNext {
  font-family: symbolsnerdfontmono;
  font-size: 0.75rem;
  padding: 0 12px; }
  .controlsNext:hover {
    background: #595959;
    border-radius: 24px; }

.music {
  color: #dfdddd;
  background: #0e0d0d;
  font-family: roboto;
  border-radius: 6px;
  padding: 12px;
  min-width: 240px; }

.artist {
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0 6px; }

.cover {
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 6px;
  min-height: 60px;
  min-width: 60px; }

.title {
  font-weight: 500;
  padding: 0 6px; }

.notification {
  border-radius: calc(12px + 2px);
  margin: 5px 5px 5px 12px;
  min-width: 25rem;
  background-color: #121111; }
  .notification .normal {
    border: 1px solid #7d95ae; }
  .notification .critical {
    border: 1px solid red; }
  .notification:hover {
    border: 2px solid #b183ba;
    background-color: #0a0a0a; }

.notifications widget:last-child .notification {
  margin-bottom: 15px; }

.notification .icon image {
  font-size: 5rem;
  margin: 0.5rem;
  min-height: 5rem;
  min-width: 5rem; }

.notification .icon > box {
  border-radius: 12px;
  margin: 0.5rem;
  min-height: 5rem;
  min-width: 5rem; }

.notification .actions .action-button {
  border-radius: calc(12px + 2px);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  padding: 0.5rem 0; }
  .notification .actions .action-button:hover {
    background: #b7b7b7; }

.notification .text {
  margin: 0.5rem; }
  .notification .text .title {
    margin-bottom: 0.2rem;
    font-weight: 500; }
  .notification .text .body {
    color: #dfdddd;
    font-weight: 500; }
